
<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
      {{>navbar}}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="jumbotron">
            {{{body}}}
          </div>
        </div>
      </div>
    </div>  
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/public/js/boot.js"></script>
    <script>
      tinymce.init({
        selector: '#comment'
      });
    </script>
  </body>
</html>