<main class="container">
    <div class="row">
        {{#if messages}}
        <div class="alert alert-{{status}}">{{messages}}</div>
        {{/if}}
        <div class="col-md-12">
            <div class="card">
                <div class="card-body bg-dark text-light">

                    <h5 class="card-title">Add new customer</h5>
                    <form method="POST" action="/add-customer" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" name="name" value=""class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Surname</label>
                            <input type="text" name="surname" value=""class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Phone</label>
                            <input type="tel" name="phone" value=""class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email" value=""class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Photo</label>
                            <input type="file" name="photo" value=""class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Comment</label>
                            <textarea type="text" name="comment" id="comment" value=""class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Company id</label>
                            <select name="company_id" class="form-control">
                                <option value="0">Unemployed</option>
                                {{#each companies}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>

                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
