<div class="flex items-center justify-center min-h-screen">
	<div class="col-span-12">
        <form action="submit" method="POST">
            <p><label class="block text-gray-400" >Name</label>
            <input class="mt-1 block w-full bg-gray-800 border-radius shadow-lg" type="text" name="name"/> </p>
            <p><label class="block text-gray-400">Text</label>
            <textarea class="mt-1 block w-full bg-gray-800 border-radius shadow-lg" type="text" name="text"></textarea></p>
            <p><label class="block text-gray-400">Date</label>
            <input class="mt-1 block w-full bg-gray-800 border-radius shadow-lg" type="date" name="date" value="{{today}}"/> </p>
            <p><input class="mt-1 block w-full bg-gray-800 border-radius shadow-lg" type="submit" value="submit"></p>
        </form>
    </div>
</div>