<div class="flex items-center justify-center min-h-screen">
	<div class="col-span-12">
        <h1 class="bg-gray-800 text-center text-gray-500 border-radius shadow-lg">Hello worl!</h1>
    </div>
</div>