<div class="flex items-center justify-center">
    <div class="col-span-12">
        <form action="/records/search" method="POST">
            <p><label class="block text-gray-400" >Search</label>
            <input class="mt-1 block w-full bg-gray-800 border-radius" type="text" name="search"/> </p>
            <p><input class="mt-1 block w-full bg-gray-800 border-radius" type="submit" value="submit"></p>
        </form>
    </div>
</div>