{{>head}}
<div class="p-1 bg-gray-800 border-radius shadow-lg">
  <ul class="flex ">
    <li class="mr-6 mx-2">
      <a class="text-blue-500 hover:text-blue-800" href="/records/search">Search</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="/records/add">Add</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="/records/sort/desc">Decend</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="/records">List</a>
    </li>
  </ul>
</div>
